#infoSection {
    background-color: rgba(15, 15, 42, 0.485);
    font-size: 30;
    background-image:url(http://s3.favim.com/orig/160113/alien-art-cartoon-earth-Favim.com-3880523.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(31, 177, 187, 0.3);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 40px;
}

body {
    font-size: 16px;
    font-family: Tahoma;
}
li { 
    list-style-type: none;
  }
h4 {
    font-weight: bold;
    padding-top: 40px;
}
.jumbotron {
    color: rgb(255, 255, 255);
    background-color: rgba(58, 56, 56, 0.646);
    background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/200424080700-hubble-30th-anniversary-image-exlarge-169.jpg');
    text-align: center;
    align-items: center;
}
#btnSearch {
    background-color: #017A91;
    color: white;
}
#clear-all {
    background-color: #017A91;
    color: white;
}
#five-day-forecast {
    padding-top: 80px;
}
.uvGreen {
    background-color: green;
    color: black;
}
.uvYellow {
    background-color: yellow;
    color: black;
}
.uvOrange {
    background-color: orange;
    color: black;
}
.uvRed {
    background-color: red;
    color: black;
}
.uvPurple {
    background-color: purple;
    color: white;
}